.navigation_container{
  background-color: #e0e9e7;
    background-image: 
        radial-gradient(at 47% 33%, hsl(180, 7%, 77%) 0, transparent 39%), 
        radial-gradient(at 82% 65%, hsl(300, 5%, 41%) 0, transparent 35%);
   
    border: 1px solid rgba(209, 213, 219, 0.3);
  width:100%;
 
  display: flex;
  justify-content: space-between;
  padding: 6px;
  z-index: 500;
}

.nav_links{
  display: flex;
  gap:30px;
  margin-right: 40px;
  

}